@define-color foreground #cac6c3;
@define-color background #0a0b0d;
@define-color cursor #cac6c3;

@define-color color0 #0a0b0d;
@define-color color1 #5B3D45;
@define-color color2 #394756;
@define-color color3 #5E545A;
@define-color color4 #867072;
@define-color color5 #647887;
@define-color color6 #6F93AA;
@define-color color7 #cac6c3;
@define-color color8 #8d8a88;
@define-color color9 #5B3D45;
@define-color color10 #394756;
@define-color color11 #5E545A;
@define-color color12 #867072;
@define-color color13 #647887;
@define-color color14 #6F93AA;
@define-color color15 #cac6c3;
