@define-color foreground #c1cacd;
@define-color background #121514;
@define-color cursor #c1cacd;

@define-color color0 #121514;
@define-color color1 #59696A;
@define-color color2 #916956;
@define-color color3 #738779;
@define-color color4 #637B86;
@define-color color5 #708C92;
@define-color color6 #78C4BD;
@define-color color7 #c1cacd;
@define-color color8 #878d8f;
@define-color color9 #59696A;
@define-color color10 #916956;
@define-color color11 #738779;
@define-color color12 #637B86;
@define-color color13 #708C92;
@define-color color14 #78C4BD;
@define-color color15 #c1cacd;
