@import ".cache/wal/colors-waybar.css";

* {
  font-family: 'MesloLGLDZ Nerd Font';
  /* font-family: 'KogniGear'; */
  font-size: 20px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @color3;
  border-radius: 0.1em;
  background-color: @background;
  animation: slideIn 0.5s ease-in-out both;
}

#input:focus {
  border-color: 2px solid @color3;
  color: @color2;
  box-shadow: none;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @background;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @background;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @background;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @foregrond;
  background-color: @background;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @color5;
}

#input * {
  outline: 4px solid @color5!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @foreground;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @background;
}

#entry arrow {
  border: none;
  color: @color3;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @color3;
}

#entry:selected #text {
  color: @color2;
}

#entry:drop(active) {
  background-color: @color3!important;
}
